@use '@/styles/variables.scss' as v;
.mainInner{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .mainText{
        text-align: center;
        margin-top: 32px;
        color: v.$main_text_color;
        font-size: 18px;
        line-height: 1.6;
    }
    .selectWrap{
        max-width: 800px;
        width: 100%;
        margin: 80px auto auto;
        .selectWrapText{
            text-align: center;
            font-size: 18px;
            color: v.$main_text_color;
        }
        .selectWrapButtons{
            display: flex;
            justify-content: center;
            gap: 16px;
            margin-top: 16px;

        }
    }
}

